<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni perspiciatis illum, eum quibusdam aliquid porro. Quos cum officia tenetur libero.</p>
    </header>
</section>
<section class="block block--dark block--skewed-left">
    <div class="container">
        <header class="block__header">
            <h2 class="block__heading">Heading</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni perspiciatis illum, eum quibusdam aliquid porro. Quos cum officia tenetur libero.</p>
        </header>
    </div>
    <div class="card card--secondary">
        <header class="card__header">Card title</header>
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum, nobis mollitia ab aut harum eum neque unde
            corrupti consequuntur numquam maiores, inventore doloribus accusamus! Incidunt odit perferendis tempore in
            commodi!
        </div>
    </div>
</section>